*{
    
    text-decoration: none;
    list-style: none;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
    text-decoration: none;
}
 img{
    height:100%;
    width:100%;
    }
.title{
color:  rgb(38, 38, 38);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 40px;
text-transform: uppercase;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;    
}
.lines{
	border-bottom:3px solid grey;
	width:120px;
	position:relative;
	right:0px;
    top: 0;
    margin-top: 2px;  
}
.lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:25px;
	background:green;
	left:5%;
    bottom: 0px;
    top: -1px;    
   
}
.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
 header {
    background-color: #ffffff;
    width: 100%;
    padding:10px 0;
    
    }
    header .logo {
    height:75px;
    width:100px;
    float:left;
    }
    header nav ul {
    color: #fff;
    margin-top: 28px;
    background: rgba(0, 0, 0, 0);
    list-style: none;
    text-align: center;
    }
    header nav ul li {
    display: inline-block;
    color: rgba(38, 38, 38, 0.22);
    font-family: 'Open Sans', sans-serif;   
    }
    header nav ul li a {
    margin: 0px 0px 0px 40px;
    color: rgb(38, 38, 38);
    font-size: 14px;
    word-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
    }
    header nav ul li a.active {
    color: rgb(24, 143, 49);
    }
     .clearfix {
    clear: both;
    }
    #toggle {
        display: none;
    }
    label {
        margin-top: 10px;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }  
    .mobile-nav{
        display: none;
    }  
.main{
    background-color:  #fafafa;
    width: 100%;
    height: 472px;
}
.main span{
    background-color:  rgba(4, 126, 29, 0.65);
width: 309px;
height: 344px;
}
.container {
    position: relative;
    padding-top: 30px;
}
.container .card{
     position: absolute;
    bottom: 50px;
    background-color: green;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    background-color:  rgba(4, 126, 29, 0.65);
    width: 200px;
    height: 340px;
}
.card ul{
    color:  #ffffff;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 600;
    line-height: 28px;/* Approximation due to font substitution */
    text-align: left;
    padding-top: 30px;
    padding-left:0px;
    text-indent: 2px;

   
}
.card ul li {
    font-family: 'Open Sans', sans-serif;
    
}
.card ul li i{
    margin-right: 15px;
    padding-top: 2px;
}
.social ul li i{
    float: left;
    margin: 0px 13px;
}
.contact{
    padding: 60px 0px 60px 0px;
}
.contact form{
    padding-top: 30px;
    width: 70%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: #fff;
    color: black;
    float: right;
    padding: 12px 20px;
    border: 1px solid #000;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

footer {
    padding: 60px 0px;
    background-color: #188f31;
}
footer h4{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.copy{
   background-color: #262626;
    color: #fff;
    padding: 1px;
}
.copy h5{
    font-size: 12px;
    margin: 20px;
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;
}

.footer-wrapper{
    width:100%;
}
    .wrapper-column{
        vertical-align: top;
    width:25%;
        display: inline-block;  
}
.wrapper-title{
    position:relative;
    margin-bottom:15px;
}
.wrapper-title:after{
    content:'';
    height:3px;
    width:40px;
    background: white;
    position:absolute;
    bottom:-8px;
    left:0;
    
}
.wrapper-lists li,.wrapper-without-border li{
    padding:20px 0;
    font-size:16px;
    text-transform:capitalize;
    font-family: 'Nanum Gothic', sans-serif; 
}
.wrapper-without-border li{
    padding:10px 0;
    font-size:14px;
}
.wrapper-lists li:not(:last-of-type){
    border-bottom:1px solid #fafafa;   
}
.wrapper-lists li a{
    color:white;
    line-height: 20px;
}
.wrapper-without-border li a{  
    color:white;
/*    line-height: 20px;*/
}

.wrapper-without-border li a:hover{  
    color:#013f0e;
}
.wrapper-lists li a.active{
    color: #000;
}
 @media only screen and (max-width:974px){
        label {
            display: block; 
            cursor: pointer;
            
        }
        header nav ul{
            display: none;
        }
        .mobile-nav{
            text-align: center;
            width: 100%;
            display:none;
            padding: 50px;
            position: absolute;
            background-color: #fff;
            margin-top: 0;
            top: 100%;
            z-index: 2; 
        }
        .mobile-nav li{
            text-align: center;
            display: block; 
            padding: 10px;
        }
        .mobile-nav a {
            display: block;
            border-bottom: 1px solid #EAEAEB;
            margin: 0; 
            transition: border-bottom 0.4s linear;
        }
        .mobile-nav a:hover{
            color: #047e1d;
            border-bottom:1px solid #047e1d;
            transition: all 0.4s linear;
            font-weight: bold;
        }
        #toggle:checked + .mobile-nav {
            display: block;
        }
    }
@media only screen and (max-width: 768px){
    .contact form {
    padding-top: 30px;
    width: 100%;
}
    .wrapper-column {
    width: 30%;
}
    .container .card {
    bottom: 82px;
    padding-left: 30px;
    height: 300px;
}
    
}
@media only screen and (max-width: 425px){
    .wrapper-column {
    width: 100%;
}
    .wrapper-column li {
        font-size: 12px;
    }
    .container .card {
    bottom: 95px;
    padding-left: 15px;
    padding-right: 1px;
    height: 300px;
}
}
@media only screen (max-width: 375px){
    .wrapper-column{
        width:100%;
    }
}
@media only screen and (max-width:320px){
    .contact {
    padding: 60px 6px 60px 6px;  
}
    .wrapper-column{
        width: 100%;
    }
    .wrapper-title{
        font-size: 16px;
    }
    .wrapper-lists p{
        font-size: 12px;
    }
    .wrapper-without-border a{
        font-size: 12px;
    }
    .wrapper-without-border2 li{
        font-size: 12px;
    }
    .wrapper-without-border2 li i{
        font-size: 12px;
    }
}