*{
    
    text-decoration: none;
    list-style: none;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
    text-decoration: none;
}
  img{
    height:100%;
    width:100%;
    }
 .clearfix {
    clear: both;
    }
.title{
color:  rgb(38, 38, 38);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 40px;
text-transform: uppercase;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;    
}
.lines{
	border-bottom:3px solid grey;
	width:100px;
	position:relative;
	right:0px;
    top: 0;
    margin-top: 2px;  
}
.lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:25px;
	background:green;
	left:5%;
    bottom: 0px;
    top: -1px;    
   
}
.home-lines{
	border-bottom:3px solid grey;
	width:260px;
	position:relative;
	left:40%;
    top: 16px; 
}
.home-lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:50px;
	background:green;
	left:40%;
    bottom: 0px;
    top: -1px;    
   
}
.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
 header {
    background-color: #ffffff;
    width: 100%;
    padding:10px 0;
    position: relative;
    }
    header .logo {
    height:75px;
    width:100px;
    float:left;
    }
    header nav ul {
    color: #fff;
    margin-top: 28px;
    background: rgba(0, 0, 0, 0);
    list-style: none;
    text-align: center;
    }
    header nav ul li {
    display: inline-block;
    color: rgba(38, 38, 38, 0.22);
    font-family: 'Open Sans', sans-serif;   
    }
    header nav ul li a {
    margin: 0px 0px 0px 40px;
    color: rgb(38, 38, 38);
    font-size: 14px;
    word-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
    }
    header nav ul li a.active {
    color: rgb(24, 143, 49);
    }
    #toggle {
        display: none;
    }
    label {
        margin-top: 10px;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }  
    .mobile-nav{
        display: none;
    }  
.main-dealership{
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 40px;
}
.main-part{
    width: 100%;
}
.main-part iframe{
    width: 75%;
}
.search-container{
    float:right;
    width: 22%; 
    padding: 10px;
    
}
.search-text{
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: 600;
    padding-bottom: 10px;
}
input[type=text-2]{
    padding: 6px;
}
.search-head{
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;

}
.search-p{
    height: 350px;
    overflow-y: auto;   
}
.search-p__ul{
    padding: 12px;
    border-bottom: 1px solid #4e4e4e;
}
.search-p__ul li{
    line-height: 22px;  
}
footer {
    padding: 60px 0px;
    background-color: #188f31;

}
footer h4{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.copy{
   background-color: #262626;
    color: #fff;
    padding: 1px;
}
.copy h5{
    font-size: 12px;
    margin: 20px;
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;
}

.footer-wrapper{
    width:100%;
}
    .wrapper-column{
        vertical-align: top;
    width:24%;
        display: inline-block;  
}
.clearfix{
    clear: both;
}
.wrapper-title{
    position:relative;
    margin-bottom:15px;
}
.wrapper-title:after{
    content:'';
    height:3px;
    width:40px;
    background: white;
    position:absolute;
    bottom:-8px;
    left:0;
    
}
.wrapper-lists li,.wrapper-without-border li{
    padding:20px 0;
    font-size:16px;
    text-transform:capitalize;
    font-family: 'Nanum Gothic', sans-serif; 
}
.wrapper-without-border li{
    padding:10px 0;
    font-size:14px;
}
.wrapper-lists li:not(:last-of-type){
    border-bottom:1px solid #fafafa;   
}
.wrapper-lists li a{
    color:white;
    line-height: 20px;
}
.wrapper-without-border li a{  
    color:white;
/*    line-height: 20px;*/
}

.wrapper-without-border li a:hover{  
    color:#013f0e;
}
.wrapper-lists li a.active{
    color: #000;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1px;
    background-color: #188f31;  
}
::placeholder{
    color:#000;

}
input[type=submit] {
    background-color:#188f31;
    color:  #fff;
    float: right;
    padding: 12px 20px;
    border: 1px solid #fff;
    cursor: pointer;
}
.social ul li i{
    float: left;
    padding-top: 20px;
    margin: 0px 13px;
    color: #fff;
}
.wrapper-without-border2{
    color: #fff;
}
.wrapper-without-border2 li {
    padding: 5px;
}
@media screen and (max-width:930px){
     label {
            display: block; 
            cursor: pointer;
            
        }
        header nav ul{
            display: none;
        }
        .mobile-nav{
            text-align: center;
            width: 100%;
            display:none;
            padding: 50px;
            position: absolute;
            background-color: #fff;
            margin-top: 0;
            top: 100%;
        }
        .mobile-nav li{
            text-align: center;
            display: block; 
            padding: 10px;
        }
        .mobile-nav a {
            display: block;
            border-bottom: 1px solid #EAEAEB;
            margin: 0; 
            transition: border-bottom 0.4s linear;
        }
        .mobile-nav a:hover{
            color: #047e1d;
            border-bottom:1px solid #047e1d;
            transition: all 0.4s linear;
            font-weight: bold;
        }
        #toggle:checked + .mobile-nav {
            display: block;
        }
    .title{
        margin-bottom: 20px;
    }
    .main-dealership{
        padding-bottom: 30px;
    }
    }
@media only screen and (max-width:768px ){
    .search-container{
        width: 24%;
        padding: 0px;
    }
}
@media only screen and (max-width:425px){
    .search-container{
        width: 96%;
        padding: 15px;
    }
    .main-dealership{
        float: left; 
         padding-bottom: 40px;
    }
    footer{
            padding: 40px;
        }
    .main-part iframe{
        width: 100%;
        padding-bottom: 20px;
    }
    .wrapper-column {
            width: 100%;
            padding-bottom: 20px;
            text-align: center;
        }
    .wrapper-title{
        padding-top: 40px;
    }
        .wrapper-title:after{
                content: '';
                height: 3px;
                width: 40px;
                background: white;
                position: absolute;
                bottom: -8px;
                left: 45%;
    }
        .wrapper-lists{
            text-align: center;
        }
        .wrapper-lists li{
            font-size: 12px;    
        }
        .wrapper-without-border2 {
            font-size: 12px;}
    
    .copy h5{
            text-align: center;
        }
        .social ul li a i{
            margin: 2px -100px 8px 135px;
        }
}
@media only screen and(max-width: 325px){
    .wrapper-title{
        font-size: 16px;
    }
    .wrapper-lists li a p{
        font-size: 12px;
    }
    .wrapper-without-border a{
        font-size: 12px;
    }
    .wrapper-without-border2 li{
        font-size: 12px;
    }
    .wrapper-without-border2 li i{
        font-size: 12px;
    }
}