*{
    
    text-decoration: none;
    list-style: none;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
header img{
    height:100%;
    width:100%;
    }
a{
    text-decoration: none;
}
.clearfix{
    clear: both;
}
  #toggle {
        display: none;
    }
    label {
        margin-top: 10px;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }  
    .mobile-nav{
        display: none;
    } 
.title{
color:  rgb(38, 38, 38);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 10px;
text-transform: uppercase;
    word-spacing: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;    
}
.home-lines{
	border-bottom:3px solid grey;
	width:260px;
	position:relative;
	left:40%;
    top: 16px; 
}
.home-lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:50px;
	background:green;
	left:40%;
    bottom: 0px;
    top: -1px;    
   
}
.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
 header {
    background-color: #ffffff;
    width: 100%;
    padding:10px 0;
    }
    header .logo {
    height:75px;
    width:100px;
    float:left;
    }
    header nav ul {
    color: #fff;
    margin-top: 28px;
    background: rgba(0, 0, 0, 0);
    list-style: none;
    text-align: center;
    }
    header nav ul li {
    display: inline-block;
    color: rgba(38, 38, 38, 0.22);
    font-family: 'Open Sans', sans-serif;   
    }
    header nav ul li a {
    margin: 0px 0px 0px 40px;
    color: rgb(38, 38, 38);
    font-size: 14px;
    word-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
    }
    header nav ul li a.active {
    color: rgb(24, 143, 49);
    }
.main-home{
    background-color: #fafafa;
    padding-bottom: 30px;
}
.main-home banner img{
    width: 100%;
    height: 100%;
}
.main-home .banner-h1{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}
.main-home .banner-h2{
    position: absolute;
    top: 60%;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.welcome{
    color: green;
    text-align: center;
    font-size: 20px;
    padding: 60px 0px 10px 0px;
    font-family: 'Open Sans', sans-serif; 
    text-transform: capitalize;

}
.welcome-second{
    text-align: center;
    font-size: 25   px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}
.home-p{
    text-align: center;
   padding: 40px ; 
   line-height: 20px;  
}
.content-home{
    padding-top: 20px;
}
.home-container{
    width: 50%;
    float: left;
    padding-bottom: 50px;
}
.home-container img{
    width: 100%;
}
.home-container__title .title-logo{
    display: inline-block;
}
.home-container__title .title-text{
    display: inline-block;
    transform: translateY(-90%);
    font-size: 16px;
    text-transform: uppercase;
}
.home-container__content{
    width: 90%;
    padding-top: 20px;
}
.home-container__content-text{
    padding-top: 20px; 
}
.home-container__btn{
    float: right;
    background-color: #fff;
    color:#188f31;
    padding: 12px 20px;
    border: 1px solid #188f31;
    text-transform: uppercase;
}
.content img{
    padding-top: 20px;
}
home-container__content img{
    width: 100%;
}
.home-container__content-text p{
    padding-top: 20px;
}
/* footer{
    padding-top: 0px;
    background-color: #188f31;
} */
footer {
    padding: 60px 0px;
    background-color: #188f31;

}
footer h4{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.copy{
   background-color: #262626;
    color: #fff;
    padding: 1px;
}
.copy h5{
    font-size: 12px;
    margin: 20px;
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;
}

.footer-wrapper{
    width:100%;
}
    .wrapper-column{
        vertical-align: top;
    width:24%;
        display: inline-block;  
}
.wrapper-title{
    position:relative;
    margin-bottom:15px;
}
.wrapper-title:after{
    content:'';
    height:3px;
    width:40px;
    background: white;
    position:absolute;
    bottom:-8px;
    left:0;
    
}
.wrapper-lists li,.wrapper-without-border li{
    padding:20px 0;
    font-size:16px;
    text-transform:capitalize;
    font-family: 'Nanum Gothic', sans-serif; 
}
.wrapper-without-border li{
    padding:10px 0;
    font-size:14px;
}
.wrapper-lists li:not(:last-of-type){
    border-bottom:1px solid #fafafa;   
}
.wrapper-lists li a{
    color:white;
    line-height: 20px;
}
.wrapper-without-border li a{  
    color:white;
/*    line-height: 20px;*/
}

.wrapper-without-border li a:hover{  
    color:#013f0e;
}
.wrapper-lists li a.active{
    color: #000;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1px;
    background-color: #188f31;  
}
::placeholder{
    color:#000;

}
input[type=submit] {
    background-color:#188f31;
    color:  #fff;
    float: right;
    padding: 12px 20px;
    border: 1px solid #fff;
    cursor: pointer;
}
.social ul li i{
    float: left;
    padding-top: 20px;
    margin: 0px 13px;
    color: #fff;
}
.wrapper-without-border2{
    color: #fff;
}
.wrapper-without-border2 li {
    padding: 5px;
}
 @media only screen and (max-width:974px){
        label {
            display: block; 
            cursor: pointer;
            
        }
        header nav ul{
            display: none;
        }
        .home-lines{
            left: 34%;
        }
        .mobile-nav{
            text-align: center;
           right: 0;
            display:none;
            width: 50%;
            padding: 50px;
            position: absolute;
            background-color: #fff;
            margin-top: 0;
            top: 100%;
            z-index: 2;
        }
        .mobile-nav li{
            text-align: center;
            display: block; 
            padding: 10px;
        }
        .mobile-nav a {
            display: block;
            border-bottom: 1px solid #EAEAEB;
            margin: 0; 
            transition: border-bottom 0.4s linear;
        }
        .mobile-nav a:hover{
            color: #047e1d;
            border-bottom:1px solid #047e1d;
            transition: all 0.4s linear;
            font-weight: bold;
        }
        #toggle:checked + .mobile-nav {
            display: block;
        }

}
@media only screen and (max-width:425px){
    .main-home .banner-h1{
        top: 30%;
    }
    .home-lines{
        left: 19%;
    }
    .home-container {
    width: 100%;
    }
    .home-container__btn {
        padding: 10px 17px; 
    }
    .home-container__content-text p{
        padding-bottom: 20px;
    }
     footer{
            padding: 40px;
        }
     .wrapper-column {
            width: 98%;
            padding-bottom: 10px;
            text-align: center;
        }
        .wrapper-title:after{
                content: '';
                height: 3px;
                width: 40px;
                background: white;
                position: absolute;
                bottom: -8px;
            left: 43%;
        }
        .wrapper-lists{
            text-align: center;
        }
        .copy h5{
            text-align: center;
        }
        .social ul li a i{
            margin: 2px -100px 8px 135px;
        }
        .home-container__btn{
            font-size: 12px;
        }
}
@media only screen and (max-width: 320px){
    .home-lines {
    left: 20%;
    width: 200px;
}
    .home-container{
        padding-bottom: 15px;
    }
    .main-home .banner-h1{
        font-size: 21px;
    }
    .main-home .banner-h2{
        top: 50%;
        font-size: 12px;
    }
    .welcome{
        padding-top: 12px;
    }
    .wrapper-title{
        font-size: 16px;
    }
    .wrapper-lists p{
        font-size: 12px;
    }
    .wrapper-without-border a{
        font-size: 12px;
    }
    .wrapper-without-border2 li{
        font-size: 12px;
    }
    .wrapper-without-border2 li i{
        font-size: 12px;
    }
}
    