*{
    
    text-decoration: none;
    list-style: none;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
header img{
    height:100%;
    width:100%;
    }
/*
img{
    height: 100%;
    width: 100%;
}
*/
a{
    text-decoration: none;
}
.clearfix{
    clear: both;
}
  #toggle {
        display: none;
    }
    label {
        margin-top: 10px;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }  
    .mobile-nav{
        display: none;
    } 
.title{
color:  rgb(38, 38, 38);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 10px;
text-transform: uppercase;
    word-spacing: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;    
}
.home-lines{
	border-bottom:3px solid grey;
	width:260px;
	position:relative;
	left:40%;
    top: 16px; 
}
.home-lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:50px;
	background:green;
	left:40%;
    bottom: 0px;
    top: -1px;    
}
.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
 header {
    background-color: #ffffff;
    width: 100%;
    padding:10px 0;
    }
    header .logo {
    height:75px;
    width:100px;
    float:left;
    }
    header nav ul {
    color: #fff;
    margin-top: 28px;
    background: rgba(0, 0, 0, 0);
    list-style: none;
    text-align: center;
    }
    header nav ul li {
    display: inline-block;
    color: rgba(38, 38, 38, 0.22);
    font-family: 'Open Sans', sans-serif;   
    }
    header nav ul li a {
    margin: 0px 0px 0px 40px;
    color: rgb(38, 38, 38);
    font-size: 14px;
    word-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
    }
    header nav ul li a.active {
    color: rgb(24, 143, 49);
    }
.main-home{
    background-color: #fafafa;
    padding-bottom: 30px;
}
.main-home banner img{
    width: 100%;
    height: 100%;
}
.main-home .banner-h1{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}
.main-home .banner-h2{
    position: absolute;
    top: 60%;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.welcome{
    color: green;
    text-align: center;
    font-size: 20px;
    padding: 60px 0px 10px 0px;
    font-family: 'Open Sans', sans-serif; 
    text-transform: capitalize;

}
.welcome-second{
    text-align: center;
    font-size: 25   px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}
.home-p{
    text-align: center;
   padding: 40px ; 
   line-height: 20px;  
}
.content-home{
    padding-top: 20px;
}
.cert__lines{
	border-bottom:3px solid grey;
	width:200px;
	position:relative;
	right:0px;
    top: 0;
    margin-top: 2px;  
}
.cert__lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:25px;
	background:green;
	left:5%;
    bottom: 0px;
    top: -1px;    
   
}
.home-container{
    width: 50%;
    float: left;
    padding-bottom: 50px;
}
.home-container img{
    width: 100%;
}
.home-container__title .title-logo{
    display: inline-block;
}
.home-container__title .title-text{
    display: inline-block;
    transform: translateY(-90%);
    font-size: 16px;
    text-transform: uppercase;
}
.home-container__content{
    width: 90%;
    padding-top: 20px;
}
.home-container__content-text{
    padding-top: 20px; 
}
.home-container__btn{
    float: right;
    background-color: #fff;
    color:#188f31;
    padding: 12px 20px;
    border: 1px solid #188f31;
    text-transform: uppercase;
}
.content img{
    padding-top: 20px;
}
home-container__content img{
    width: 100%;
}
.home-container__content-text p{
    padding-top: 20px;
}
/*------------certification----------------*/
.certification-top{
    background-color:  #fafafa;
    width: 100%;
}
.certification-lines{
	border-bottom:3px solid grey;
	width:260px;
	position:relative;
	left:40%;
    top: 16px; 
}
.certification-lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:50px;
	background:green;
	left:40%;
    bottom: 0px;
    top: -1px;    
   
}
.welcome-second{
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}
.certification-p{
    text-align: center;
   padding: 40px;
   margin: 20px 140px 40px;
   line-height: 20px;  
}
.content-1{
    padding-top: 20px;
}
.content-2{
    padding-top: 20px;
}
.certification-container{
    width: 50%;
    float: left;
    padding-bottom: 50px;
}
.cert-container__content{
    width: 90%;
    padding-top: 20px;
}
.cert-container__content img{
    float: left;
}
.cert-container__content-text{
    text-align: justify;
    margin-left: 180px;
}
/*certification-------------------------*/

/*-------------------Dealership-------------------*/
.dealership-title{
color:  rgb(38, 38, 38);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 40px;
text-transform: uppercase;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;    
}
.dealership-lines{
	border-bottom:3px solid grey;
	width:100px;
	position:relative;
	right:0px;
    top: 0;
    margin-top: 2px;  
}
.dealership-lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:25px;
	background:green;
	left:5%;
    bottom: 0px;
    top: -1px;    
   
}
.main-dealership{
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 40px;
}
.main-part{
    width: 100%;
}
.main-part iframe{
    width: 75%;
}
.search-container{
    float:right;
    width: 22%; 
    padding: 10px;
    
}
.search-text{
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: 600;
    padding-bottom: 10px;
}
input[type=text-2]{
    padding: 6px;
}
.search-head{
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;

}
.search-p{
    height: 350px;
    overflow-y: auto;   
}
.search-p__ul{
    padding: 12px;
    border-bottom: 1px solid #4e4e4e;
}
.search-p__ul li{
    line-height: 22px;  
}



/*----------------------Dealership--------------------*/
/*----------------------PRODUCT--------------------*/
 .product-title {
    color: rgb(38, 38, 38);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px;
    text-transform: uppercase;
    word-spacing: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    border-bottom: 2px solid grey;
    display: inline-block;
    padding-bottom: 8px;
    position:relative;
    }
    .product-title:after{
    content: "";
    position: absolute;
    height: 5px;
    width: 15px;
    background: green;
    left: 8%;
    bottom: -3px;
    }
 .product-top {
    background-color: #fafafa;
    }
    .pro-welcome {
    color: green;
    text-align: center;
    font-size: 20px;
    padding: 60px 0px 1px 0px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    }
    .pro-welcome-second {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    }
    .product-p {
    text-align: center;
    padding: 40px;
    margin: 20px 140px 40px;
    line-height: 20px;
    }
    .pro-container {
    width: 46%;
    float: left;
    padding: 0 15px 50px 15px;
    }   
    .pro-container__content {
    padding-top: 20px;
    padding-bottom: 30px;
    }
.pro-container__content img{
    width: 100%;
    height: 100%;
}
    .pro-container__content-text {
    padding-top: 20px;
    margin-left: 0px;
    }
    .pro-container__content-text p {
    padding-top: 20px;
    }
    .physical {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    }
    th {
    text-align: left;
    padding: 16px;
    color: #fff;
    background-color: #047e1d;
    }
    td {
    text-align: left;
    padding: 16px;
    }
    tr:nth-child(odd) {
    background-color: #f2f2f2
    }


/*----------------------PRODUCT--------------------*/
/*----------------------CONTACT--------------------*/
.contact-title{
color:  rgb(38, 38, 38);
font-size: 18px;
font-weight: 500;
text-align: left;
padding-top: 40px;
text-transform: uppercase;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;    
}
.contact-lines{
	border-bottom:3px solid grey;
	width:120px;
	position:relative;
	right:0px;
    top: 0;
    margin-top: 2px;  
}
.contact-lines::after{
	content:"";
	position:absolute;
	height:5px;
	width:25px;
	background:green;
	left:5%;
    bottom: 0px;
    top: -1px;    
   
}
.contact-main{
    background:#fafafa;
    width: 100%;
    height: 472px;
}
.contact-main span{
    background-color:  rgba(4, 126, 29, 0.65);
width: 309px;
height: 344px;
}
.contact-container {
    position: relative;
    padding-top: 30px;
}
.contact-card{
     position: absolute;
    bottom: 50px;
    background-color: green;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    background-color:  rgba(4, 126, 29, 0.65);
    width: 200px;
    height: 340px;
}
.contact-card ul{
    color:  #ffffff;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 600;
    line-height: 28px;/* Approximation due to font substitution */
    text-align: left;
    padding-top: 30px;
    padding-left:0px;
    text-indent: 2px;

   
}
.contact-card ul li {
    font-family: 'Open Sans', sans-serif;
    
}
.contact-card ul li i{
    margin-right: 15px;
    padding-top: 2px;
}
.social ul li i{
    float: left;
    margin: 0px 13px;
}
.contact{
    padding: 60px 0px 60px 0px;
}
form{
    padding-top: 30px;
    width: 70%;
}
input[type=text], select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000!important;
    margin-top: 6px;
    margin-bottom: 16px;
    background:#fff;
}
input[type=submit] {
    background-color: #fff;
    color: black;
    float: right;
    padding: 12px 20px;
    border: 1px solid #000;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/*----------------------CONTACT--------------------*/
footer {
    padding: 60px 0px;
    background-color: #188f31;

}
footer h4{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.copy{
   background-color: #262626;
    color: #fff;
    padding: 1px;
}
.copy h5{
    font-size: 12px;
    margin: 20px;
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;
}

.footer-wrapper{
    width:100%;
}
    .wrapper-column{
        vertical-align: top;
    width:24%;
        display: inline-block;  
}
.wrapper-title{
    position:relative;
    margin-bottom:15px;
}
.wrapper-title:after{
    content:'';
    height:3px;
    width:40px;
    background: white;
    position:absolute;
    bottom:-8px;
    left:0;   
}
.wrapper-lists li,.wrapper-without-border li{
    padding:20px 0;
    font-size:16px;
    text-transform:capitalize;
    font-family: 'Nanum Gothic', sans-serif; 
}
.wrapper-without-border li{
    padding:10px 0;
    font-size:14px;
}
.wrapper-lists li:not(:last-of-type){
    border-bottom:1px solid #fafafa;   
}
.wrapper-lists li a{
    color:white;
    line-height: 20px;
}
.wrapper-without-border li a{  
    color:white;
}
.wrapper-without-border li a:hover{  
    color:#013f0e;
}
.wrapper-lists li a.active{
    color: #000;
}
.form-b input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1px;
    background: #188f31;  
}
.form-b ::placeholder{
    color:#000;

}
.form-b input[type=submit] {
    background-color:#188f31;
    color:  #fff;
    float: right;
    padding: 12px 20px;
    border: 1px solid #fff;
    cursor: pointer;
}
.form-b .social ul li i{
    float: left;
    padding-top: 20px;
    margin: 0px 13px;
    color: #fff;
}
.wrapper-without-border2{
    color: #fff;
}
.wrapper-without-border2 li {
    padding: 5px;
}
  .clearfix {
    clear: both;
    }
    #toggle {
        display: none;
    }
    label {
        margin-top: 10px;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }  
    .mobile-nav{
        display: none;
    }  
    @media only screen and (max-width:974px){
        label {
            display: block; 
            cursor: pointer;
            
        }
        header nav ul{
            display: none;
        }
        .mobile-nav{
            text-align: center;
            width: 100%;
            display:none;
            padding: 50px;
            position: absolute;
            background-color: #fff;
            margin-top: 0;
            top: 100%;
            z-index: 2;
            right: 0;

        }
        .mobile-nav li{
            text-align: center;
            display: block; 
            padding: 10px;
        }
        .mobile-nav a {
            display: block;
            border-bottom: 1px solid #EAEAEB;
            margin: 0; 
            transition: border-bottom 0.4s linear;
        }
        .mobile-nav a:hover{
            color: #047e1d;
            border-bottom:1px solid #047e1d;
            transition: all 0.4s linear;
            font-weight: bold;
        }
        #toggle:checked + .mobile-nav {
            display: block;
        }
            .certification-p{
        margin: 10px 140px 40px;
    }   
     th{
            padding: 10px;
        }
        td{
            padding: 10px;
            width: 100%;
        }
        }
    }
@media only screen and (max-width:1024px){
     .certification-lines {
    width: 240px;
    position: relative;
    left: 39%;
    top: 10px;
    border-bottom: 3px solid grey;
}
    
}   
@media only screen and (max-width:768px){
 .certification-lines{
            left: 33%;
    }
    .certification-container{
        padding-bottom: 40px;   
    }
    .search-container{
        width: 24%;
        padding: 0px;
    }
     th{
            padding: 10px;
        }
        td{
            padding: 10px;
            width: 100%;
        }
    .pro-container{
        width: 45%;
    }
        .pro-container__content-text {
           padding-bottom: 0px; 
            margin-left: 0px;
            text-align: justify;  
            }
            .pro-container__content-text p {
            padding-top: 40px;
            margin-bottom: 80px;
            }
     .contact form {
    padding-top: 30px;
    width: 100%;
}
    .wrapper-column {
    width: 48%;
}
    .contact-card {
    bottom: 82px;
    padding-left: 30px;
    height: 300px;
}
    
}
@media only screen and (max-width:425px){
    .main-home .banner-h1{
        top: 30%;
    }
    .home-lines{
        left: 19%;
    }
    .certification-lines {
    left: 20%;
}
    .certification-p {
    text-align: justify;
    padding: 35px;
    margin: 0px 0px 20px;
}
     .contact-card {
    bottom: 95px;
    padding-left: 15px;
    padding-right: 1px;
    height: 300px;
}
/* ----certification lines---*/
    .certification-container{
        width: 100%;
    }   
    .title{
        padding-top: 4px;
    }
     .search-container{
        width: 96%;
        padding: 15px;
    }
    .main-dealership{
        float: left; 
         padding-bottom: 40px;
    }
     .main-part iframe{
        width: 100%;
        padding-bottom: 20px;
    }
    .home-container {
    width: 100%;
    }
    .home-container__btn {
        padding: 10px 17px; 
    }
    .home-container__content-text p{
        padding-bottom: 20px;
    }
/*    product            */
     .product-p{
            margin: 0px 0px 40px;
            text-align: justify;
        }
        .pro-container__content{
            padding-bottom: 0px;
        }
        .pro-certification{
            padding-top: 20px;
        }
        .pro-container{
            width: 94%;
            padding: 0px 15px 20px 15px;
        }
        .pro-container__content-text p {
            margin-bottom: 40px; 
             
        }
/*    product            */
     footer{
            padding: 40px;
        }
     .wrapper-column {
            width: 98%;
            padding-bottom: 10px;
            text-align: center;
        }
        .wrapper-title:after{
                content: '';
                height: 3px;
                width: 40px;
                background: white;
                position: absolute;
                bottom: -8px;
            left: 43%;
        }
        .wrapper-lists{
            text-align: center;
        }
        .copy h5{
            text-align: center;
        }
        .social ul li a i{
            margin: 2px -100px 8px 135px;
        }
        .home-container__btn{
            font-size: 12px;
        }
}
/*media for 320px*/
@media only screen and (max-width: 320px){
    .home-lines {
    left: 20%;
    width: 200px;
}
     .cert-container__content img {
    padding-right: 10px;
    }
    .certification-lines {
        left: 10%;
    }
    .cert-container__content-text{
        margin-left: 0px;
    }
    .wrapper-title:after{
        left: 39%;
    }
    .home-container{
        padding-bottom: 15px;
    }
    .main-home .banner-h1{
        font-size: 21px;
    }
    .main-home .banner-h2{
        top: 50%;
        font-size: 12px;
    }
     .social ul li a i{
            margin: 2px -90px 8px 100px;
        }
    .pro-welcome{
        padding-top: 12px;
    }
       .contact {
    padding: 60px 6px 60px 6px;  
}
    .wrapper-title{
        font-size: 16px;
    }
    .wrapper-lists p{
        font-size: 12px;
    }
    .wrapper-without-border a{
        font-size: 12px;
    }
    .wrapper-without-border2 li{
        font-size: 12px;
    }
    .wrapper-without-border2 li i{
        font-size: 12px;
    }
}
    