@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
.body{
    width: 100%;
    height: 100%;
}
.vertical-line{
    width: 1px;
    height: 100px;
    background-color: silver;
}
.container{
    width: 1000px;
    height: 500px;
    margin-top: 60px;
    margin-left: 100px;
}
.card{
    background-image: url(Bright%20Vault.jpg);
    width:40%;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
  
}
.card-logo img{
    width: 100%;
    height: 100%;
}
.card-logo{
    position: absolute;
    width: 110px;
    left: 270px;
    top: 50px; 
}
.card-shoe img{
    width: 100%;
    height: 100%;
}
.card-shoe{
    position: absolute;
    width: 350px;
    left: 50px;
    top: 170px;
  }
.another{
    margin-top: -500px;
    margin-left: 450px;
    text-transform: uppercase;
    
}
.another h1{
    font-family: "Quicksand";
}
.another em{
    color: darkgrey;
}
.star{
    float: right;
    margin-top:-50px;
    color: crimson;
}
#strike b{
    padding-top: 10px;
    color: red;
}
#desc h5{
    color: black;
}
#desc{
    margin-top: 50px;
    color:darkgray;
    margin-left: 450px;
}
.form{
    margin-left: 450px;

}

input {
  display: none;
}

.button {
    
    float: left;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
    
}
/*
.button span {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s;
}

.button span:hover {
  padding: 10px;
}

.orange .button span {
  background: #FF5722;
}

.amber .button span {
  background: #FFC107;
}

.lime .button span {
  background: #8BC34A;
}

.teal .button span {
  background: #009688;
}
*/
.
#size {
    margin-left: 300px;
    margin-top: -40px;
}
#qty{
    margin-left: 450px;
    margin-top: -80px;
}
.btn {
  position:absolute;
  top:60%;
  left:45%;
    margin-top: 10%;
  margin-right:20%;
  transform:translate(-50%, -50%);
  height:40px;
  width:120px;
    padding: 9px 10px;
  background:crimson;
    text-align: center;
  border-radius:3px;
  line-height:37.5px;
  color:white;
  overflow:hidden;
  font-family:"Quicksand";
  font-size:1em;
  cursor:pointer;
    box-shadow: 0px 0px 6px crimson  ;
}
.btn i {
    margin: 2px; 
}